# Python Django
# Test a Django project on multiple versions of Python.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python
pool:
  vmImage: 'Ubuntu 16.04'

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: 3.6
    architecture: 'x64'

# Invoke Azure Function
# Invoke an Azure Function as a part of your pipeline.
- task: Bash@3
  inputs:
    scrips:  curl -G https://oneweekfuncapp.azurewebsites.net/api/HttpTrigger -d name=oneweek